<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoPlot</title>
    <script src="{{ url_for('static', filename='js/d3.min.js') }}" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/plotter.css') }}"/>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</head>
<body>
<div id="left_menu">
    <div id="pen_list" class="panel panel-primary">
        <div class="panel-heading">Pens</div>
        <ul class="list-group"></ul>
    </div>
    <div id="manual_contols" class="panel panel-primary">
        <div class="panel-heading">Manual Control</div>
        <div class="panel-body">
            <form class="form-inline">
              <div class="form-group">
                <label for="man_angle">Rotate to: </label>
                <input type="number" min=0 max=359 class="form-control" id="man_angle" placeholder="Angle 0-360">
              </div>
              <button type="button" onclick="rotateBoom($('#man_angle').val());" class="btn btn-default">Auto</button>
              <button type="button" onclick="rotateBoom($('#man_angle').val(),null,1);" class="btn btn-default">CW</button>
              <button type="button" onclick="rotateBoom($('#man_angle').val(),null,-1);" class="btn btn-default">CCW</button>
            </form>
        </div>
    </div>
</div>

<div id="vis" class="text-center"></div>

<div id="right_menu">

    <div id="log" class="panel panel-primary">
       <div class="panel-heading">Log</div>
       <div class="panel-scroller">
           <ul></ul>
       </div>

  </div>
    <div id="job_list" class="panel panel-primary">
      <div class="panel-heading">Jobs</div>
      <div class="panel-body" style="padding: 5px;">
          <div class="row">
              <div class="col-md-4"><button type="button" class="btn btn-xs btn-block btn-success consume-button consumeOne">Consume</button></div>
              <div class="col-md-4"><button type="button" class="btn btn-xs btn-block btn-warning consume-button consumeAll">All</button></div>
              <div class="col-md-4"><button type="button" class="btn btn-xs btn-block btn-danger consumeStop" disabled>Stop</butto></div>
          </div>
      </div>
        <ul class="list-group"></ul>

    </div>
</div>


<script src="{{ url_for('static', filename='js/roplot.js') }}" charset="utf-8"></script>
</body>
</html>