{% extends 'base.html' %}

{% macro render_field(field) %}
    <div class="row">
  <div class="col-md-3">{{ field.label }}</div>
  <div class="col-md-3">{{ field(**kwargs)|safe }}</div>
  <div class="col-md-6">{% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}</div>
    </div>
{% endmacro %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('.carriage-edit-button').click(function() {
                var id = $(this).data('id');
                var beltpos = $(this).data('beltpos');
                $('#carriage_id').val(id);
                $('#beltpos').val(beltpos);
            });
            $('.pen-edit-button').click(function() {
                var _this = $(this);
                var row = _this.closest('.row');
                $.each(row.children('div'), function(k, v) {
                    var param = $(v).data('param');
                    var value = $(v).text();
                    if (param!==undefined) $('#'+param).val(value);
                })
            });

        });
    </script>
{% endblock %}

{% block main %}
<div class="container">


    <!-- Basics -->

      <form method="POST" action="/settings" class="form-horizontal">
        <div class="panel panel-info">
          <div class="panel-heading">General</div>
          <div class="panel-body">
                {{ form.hidden_tag() }}
                {{ render_field(form.rotationSpeed) }}
                {{ render_field(form.beltSpeed) }}
                {{ render_field(form.physicalRadius) }}
                {{ render_field(form.physicalDrawStart) }}
                {{ render_field(form.physicalDrawEnd) }}
          </div>
            <div class="panel-footer"><input type="submit" value="Save" class="btn btn-block btn-primary"></div>
          </div>
      </form>


    <!-- Carriages -->

       <div class="panel panel-info">
          <div class="panel-heading">Carriages</div>
          <div class="panel-body">
              {% for c in carriages %}
              <form method="POST" action="/settings">
                <input type="hidden" name="carriage_id" value="{{ c.id }}">
                <div class="row">
                 <div class="col-md-4">{{ c.id }}</div>
                 <div class="col-md-4">{{ c.beltpos }}</div>
                 <div class="col-md-2"><a href="javascript:;" data-beltpos="{{ c.beltpos }}" data-id="{{ c.id }}" class="carriage-edit-button btn btn-sm btn-primary" ">Edit</a></div>
                 <div class="col-md-2"><button type="submit" class="btn btn-sm btn-danger" name="remove">Remove</button></div>
                </div>
              </form>
              {% endfor %}
          </div>
          <div class="panel-footer">
            <form id="carriage_form" method="POST" action="/settings" class="form-horizontal">
              {{ carriageForm.hidden_tag() }}
              {{ render_field(carriageForm.carriage_id) }}
              {{ render_field(carriageForm.beltpos) }}
                <hr>
              <input type="submit" value="Save" class="btn btn-block btn-primary">
            </form>
          </div>
        </div>


    <!-- Pens -->

        <div class="panel panel-info">
              <div class="panel-heading">Carriages</div>

                <form method="POST" action="/settings">
                  <table class="table table-striped">
                    <tr>
                     <th>ID</th>
                     <th>Carriage</th>
                     <th>Name</td>
                     <th>Colour</th>
                     <th>Pole</th>
                     <th>XOffset</th>
                     <th colspan="2">Options</th>
                    </tr>

                  {% for p in pens %}

                    <tr>
                     <td data-param="pen_id"><input type="hidden" name="pen_id" value="{{ p.id }}">{{ p.id }}</td>
                     <td data-param="carriage_id">{{ p.carriageId }}</td>
                     <td data-param="name">{{ p.name }}</td>
                     <td data-param="color">{{ p.color }}</td>
                     <td data-param="pole">{{ p.pole }}</td>
                     <td data-param="xoffset"> {{ p.xoffset }}</td>
                     <td><a href="javascript:;" class="pen-edit-button btn btn-sm btn-primary">Edit</a></td>
                     <td><button type="submit" class="btn btn-sm btn-danger" name="remove">Remove</button></td>
                    </tr>
                  {% endfor %}
               </table>
              </form>
              <div class="panel-footer">
                <form id="pen_form" method="POST" action="/settings" class="form-horizontal">
                  {{ penForm.hidden_tag() }}
                  {{ render_field(penForm.pen_id) }}
                  {{ render_field(penForm.carriage_id) }}
                  {{ render_field(penForm.name) }}
                  {{ render_field(penForm.color) }}
                  {{ render_field(penForm.pole) }}
                  {{ render_field(penForm.xoffset) }}
                    <hr>
                  <input type="submit" value="Save" class="btn btn-block btn-primary">
                </form>
              </div>
        </div>

</div>
{% endblock %}