{% extends 'base.html' %}

{% macro render_field(field) %}
    <div class="row">
  <div class="col-md-3">{{ field.label }}</div>
  <div class="col-md-3">{{ field(**kwargs)|safe }}</div>
  <div class="col-md-6">{% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}</div>
    </div>
{% endmacro %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('.carriage-edit-button').click(function() {
                var id = $(this).data('id');
                var beltpos = $(this).data('beltpos');
                $('#carriage_id').val(id);
                $('#beltpos').val(beltpos);
            });
            $('.pen-edit-button').click(function() {
                var _this = $(this);
                var row = _this.closest('.row');
                $.each(row.children('div'), function(k, v) {
                    var param = $(v).data('param');
                    var value = $(v).text();
                    if (param!==undefined) $('#'+param).val(value);
                })
            });
        });
    </script>
{% endblock %}

{% block main %}
<div class="container">


    <!-- Basics -->

      <form method="POST" action="/settings" class="form-horizontal">
        <div class="panel panel-info">
          <div class="panel-heading">General</div>
          <div class="panel-body">
                {{ form.hidden_tag() }}
                {{ render_field(form.rotationSpeed) }}
                {{ render_field(form.beltSpeed) }}
                {{ render_field(form.physicalRadius) }}
                {{ render_field(form.physicalDrawStart) }}
                {{ render_field(form.physicalDrawEnd) }}
          </div>
            <div class="panel-footer"><input type="submit" value="Save" class="btn btn-block btn-primary"></div>
          </div>
      </form>


    <!-- Carriages -->

       <div class="panel panel-info">
          <div class="panel-heading">Carriages</div>
          <div class="panel-body">
              {% for c in carriages %}
              <div class="row">
                 <div class="col-md-4">{{ c.id }}</div>
                 <div class="col-md-4">{{ c.beltpos }}</div>
                 <div class="col-md-4"><a href="javascript:;" data-beltpos="{{ c.beltpos }}" data-id="{{ c.id }}" class="carriage-edit-button">Edit</a></div>
              </div>
              {% endfor %}
          </div>
          <div class="panel-footer">
            <form id="carriage_form" method="POST" action="/settings" class="form-horizontal">
              {{ carriageForm.hidden_tag() }}
              {{ render_field(carriageForm.carriage_id) }}
              {{ render_field(carriageForm.beltpos) }}
                <hr>
              <input type="submit" value="Save" class="btn btn-block btn-primary">
            </form>
          </div>
        </div>


    <!-- Pens -->

        <div class="panel panel-info">
              <div class="panel-heading">Carriages</div>
              <div class="panel-body">
                  <div class="row">
                     <div class="col-md-1">ID</div>
                     <div class="col-md-1">Carriage</div>
                     <div class="col-md-2">Name</div>
                     <div class="col-md-2">Colour</div>
                     <div class="col-md-2">Pole</div>
                     <div class="col-md-2">XOffset</div>
                     <div class="col-md-2">Options</div>
                  </div>
                  {% for p in pens %}
                  <div class="row">
                     <div class="col-md-1" data-param="pen_id">{{ p.id }}</div>
                     <div class="col-md-1" data-param="carriage_id">{{ p.carriageId }}</div>
                     <div class="col-md-2" data-param="name">{{ p.name }}</div>
                     <div class="col-md-2" data-param="color">{{ p.color }}</div>
                     <div class="col-md-2" data-param="pole">{{ p.pole }}</div>
                     <div class="col-md-2" data-param="xoffset"> {{ p.xoffset }}</div>
                     <div class="col-md-2"><a href="javascript:;" class="pen-edit-button">Edit</a></div>
                  </div>
                  {% endfor %}
              </div>
              <div class="panel-footer">
                <form id="pen_form" method="POST" action="/settings" class="form-horizontal">
                  {{ penForm.hidden_tag() }}
                  {{ render_field(penForm.pen_id) }}
                  {{ render_field(penForm.carriage_id) }}
                  {{ render_field(penForm.name) }}
                  {{ render_field(penForm.color) }}
                  {{ render_field(penForm.pole) }}
                  {{ render_field(penForm.xoffset) }}
                    <hr>
                  <input type="submit" value="Save" class="btn btn-block btn-primary">
                </form>
              </div>
        </div>

</div>
{% endblock %}